.fs-picker-ents {
	max-height: 50vh;
	overflow-y: scroll;
}

.fs-picker-ent {
	cursor: pointer;
	padding: 2px;
	border: 1px #000000 solid;
	word-wrap: anywhere;
}

.fs-picker-ent:hover {
	background-color: #bababa;
}

.fs-selection {
	display: grid;
	grid-template-columns: 4fr 8fr;
}

.fs-file {
  margin: 5px 10px 5px 10px;
  padding: 10px;
  border: 1px #000 solid;
}

.fs-chooser-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fs-chooser-body {
  font-size: .75em;
}

.status-line::before {
	display: inline-block;
	width: 10px; height: 10px;
	margin-right: 5px;
	border-radius: 10px;
	content: '';
}

.server-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.status-line.running::before  { background-color: #00ff00; }
.status-line.stopping::before { background-color: #ffff00; }
.status-line.stopped::before  { background-color: #ff0000; }
