.fs-picker-ents {
	max-height: 50vh;
	overflow-y: scroll;
}

.fs-picker-ent {
	cursor: pointer;
	padding: 2px;
	border: 1px #000000 solid;
	word-wrap: anywhere;
}

.fs-picker-ent:hover {
	background-color: #bababa;
}

.fs-selection {
	display: grid;
	grid-template-columns: 4fr 8fr;
}

.fs-file {
  margin: 5px 10px 5px 10px;
  padding: 10px;
  border: 1px #000 solid;
}

.fs-chooser-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fs-chooser-body {
  font-size: .75em;
}

.status-line::before {
	display: inline-block;
	width: 10px; height: 10px;
	margin-right: 5px;
	border-radius: 10px;
	content: '';
}

.server-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.track-selector {
	display: inline-block;
	width: 320px;
	height: 100px;
	overflow-y: auto;
	line-height: 1;

	border: 1px solid;
}

.track-selector label {
	display: grid;
	grid-template-columns: 1fr 1fr 8fr;
	width: 100%;
	align-items: stretch;
	border-bottom: 1px solid #ddd;
}

/* hide radio button */
.track-selector label input {
	display: none;
}

/* if radio button is checked higlight siblings */
.track-selector label input:checked ~ span {
	background: #9DA;
}

/* highlight whoe label when hovered */
.track-selector label:hover {
	background: #CEF;
}

.status-line.running::before  { background-color: #00ff00; }
.status-line.stopping::before { background-color: #ffff00; }
.status-line.stopped::before  { background-color: #ff0000; }
